* {
  font-size: 8pt !important;
}

iframe, .rc-row, .trc_related_container, .trc_spotlight_widget {
  display: none !important;
}

a, textarea, input, button {
  cursor: default !important;
}

a, a:hover, a:active, a:visited {
  color: inherit !important;
  text-decoration: none !important;
  border-bottom: 0 !important;
}

.rf-sl {
  visibility: hidden !important;
  cursor: wait !important;
}

body:not(.rf-loaded) img {
  visibility: hidden !important;
}
